{{- $scratch := newScratch }}

{{- if not .Date.IsZero -}}
    {{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default ":date_long" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
    {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime)))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
    {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" (i18n "words" .WordCount | default (printf "%d words" .WordCount)))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
    {{- with (partial "author.html" .) }}
        {{- $scratch.Add "meta" (slice (printf "<span>%s</span>" .)) }}
    {{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
    {{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}

{{- /* Add speaker icon if video exists */ -}}
{{- $slug := .File.ContentBaseName -}}
{{- $videoPath := printf "/videos/%s.mp4" $slug -}}
{{- $videoExists := (fileExists (printf "static%s" $videoPath)) -}}
{{- if $videoExists -}}
    &nbsp;·&nbsp;
    <a href="{{ $videoPath }}" title="Watch English Learning Video" download style="display:inline-flex;align-items:center;color:var(--secondary);text-decoration:none;transition:color 0.2s ease;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align:middle;">
            <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
            <path d="M19.07 4.93a10 10 0 0 1 0 14.14"></path>
            <path d="M15.54 8.46a5 5 0 0 1 0 7.07"></path>
        </svg>
    </a>
{{- end -}}
